<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My mysql!</h1>
  <p><a href="/initTables">Init Users table.</a></p>
  <p><a href="/insert1millionUsersv1">Insert 10M Users.</a></p>
  <p><a href="/insert1millionUsersv2">Insert 10M Users (Optimized).</a></p>
  <p><a href="/count">Query normally.</a></p>
  <p><a href="/countOptimized">Query optimized.</a></p>
  <p><a href="/reset">Reset.</a></p>
  <p>{{message}}</p>
</body>
</html>